.multi-select-dropdown-wrap {
  @apply relative text-form-field text-text-primary w-full;
  .master,
  .master-active {
    border: 2px solid #e5e5e7;
    @apply rounded-md relative h-10 w-full;
    input[type="text"] {
      @apply rounded-l-md absolute top-0 left-0 min-h-full opacity-0;
      &:focus {
        @apply outline-none;
      }
    }
    .label {
      @apply flex justify-between p-sm w-full h-full;
      svg {
        @apply h-6 w-6;
      }
    }

    &:hover {
      border: 2px solid #a1a1aa;
      @apply rounded-md;
    }
    &:focus-within {
      border: 2px solid #007bff !important;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
  }

  .master-active {
    &:hover {
      border: 2px solid #a1a1aa;
      @apply rounded-md;
    }
    &:focus-within {
      border: 2px solid #007bff !important;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    }
    input[type="text"] {
      @apply opacity-100;
    }
    .label {
      @apply hidden;
    }
  }

  .server {
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    top: 100%;
    width: 100% !important;
    max-height: 20vmax;
    overflow: scroll;
    @apply absolute z-20;
    div {
      @apply flex w-full bg-white;
      justify-content: flex-start;
      align-items: center;
      &:hover {
        @apply bg-grey-mid;
      }
      input {
        height: 44px;
        @apply absolute min-w-full opacity-0 z-20 cursor-pointer;
      }
      p {
        padding: 12px;
        margin-top: 5px;
        margin-bottom: 5px;
        @apply text-form-field text-text-primary;
      }
      .custom-checkbox {
        height: 28px;
        width: 28px;
        @apply border border-solid border-input-border m-sm;
        svg {
          @apply opacity-0 z-10;
        }
      }
      input:checked ~ .custom-checkbox,
      input:hover ~ .custom-checkbox {
        border: 2px solid #a1a1aa;
      }

      input:checked ~ .custom-checkbox svg {
        @apply opacity-100;
      }
    }
  }
}
