.radio-wrap {
  flex-wrap: wrap;
  .radio-btn-outer-wrap {
    display: flex;
    align-items: center;
  }
  @apply block leading-10;

  .radio-btn-wrap {
    @apply block float-left relative;
    &:hover {
      .radio-btn-checkmark {
        @apply border-primary-main;
      }
    }
  }

  .radio-btn {
    @apply opacity-0 absolute cursor-pointer h-10 w-4;
  }

  .radio-btn-checkmark {
    @apply h-4 w-4 border border-input-border border-solid rounded-full block;
  }

  label {
    @apply text-text-primary text-form-field ml-sm;
  }

  .radio-btn-checkmark:after {
    content: "";
  }

  .radio-btn-wrap input:checked ~ .radio-btn-checkmark {
    @apply border-2 border-primary-main;
  }

  .radio-btn-wrap input:checked ~ .radio-btn-checkmark:after {
    @apply block bg-primary-main h-3 w-3 rounded-full absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.reverse-radio-selection-wrapper {
  div {
    @apply flex flex-row-reverse place-content-between items-center;
  }
}
